style.css
#titlu{
    font-family: "Bebas Neue";
    text-decoration: wavy underline;
    font-size: 60;

}


#p1{
    color: black;
    font-style:italic;
    text-decoration:underline;
    font-size: 29;
    border-style: outset;
    border-width:5px;
    border-color:magenta;
    border-radius: 10px;
    padding: 5px;
    padding-bottom: 150px;
    width: 500px;
    background-color: cornsilk;

    position: relative;

    top: 100;
    right: 20;
   
    
  }
  #buton{
    font-size: 40px;
    background-color: lightgreen;
    position: absolute;

  right: 1100;
  bottom: 470;
  }

  #buton2{
    font-size: 40px;
    position: absolute;
    background-color: red;

    right: 800;
    bottom: 470;
    border: none;
  }
  #buton2:hover{
    background-color: cornsilk;
    color:cornsilk;
  }
  #buton:hover{
    background-color: green;
    border: 3px;
  }
  
  #p1da{
    font-size: xx-large;
    font-style: italic;
  }

  #titluda{
    font-size: 50px;
  }